# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/

# Database / binary files
chrome_langchain_db/
*.sqlite3
*.bin

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
                                                                                                                                                                                                                                                                                                                                                                                     